.page-navigation {
 background-color: #29297A;
    color: #FF0000;
    height: 50px;
}


.page-navigation ul { 
    list-style: none;
}

.page-navigation ul li { 
    padding: 0 15px;
    float:left;
    line-height: 50px;
}
.page-navigation ul li a { 
    color: #FF66CC;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.page-navigation ul li a:hover {
	color: #CC99FF;
    text-decoration: none;

}

.index-title{ color: #3399FF;
}

.videos-title{ color: #FF0000;
    text-decoration: underline;
}

.links li a { color: #FF66FF;
}

.links li a:hover { color: #66FF33;
    text-decoration: none;
}

.main-header {
    height: 110px;
    color: #FFF;
    background: royalblue;
}

.main-footer {
    heignt: 100px;
    color: #FFF;
    background: #FF0000;
}


.base {
    padding-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
}






