.container {
    width: 740px;
    margin: auto;
    background: lightgrey;
    padding-bottom: 500px;
}

.main-header {
	height: 110px;
    color: #FFF;
    background: #3C3C74;

}


.main-parah{
	padding: 20px;
	background:#FFF;
	float: right;
	width: 200px;
}
.main-footer{
	color: #FFF;
	background: #222;
}

.base {
	padding-top: 20px;
	color: #FFF;
	text-align: center;
	font-size: 60px;
}

.basebottom {
	padding-top: 10px;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	padding-bottom: 20px
}

.back {
	background: #1A1A4C;
}
 .image {

 }

.nav {
	float: left;
	width: 225px;

}



