
.main-header {
	height: 110px;
    color: #FFF;
    background: #3C3C74;
}

.main-container{
	padding: 20px;
	background:lightgrey;
}

.main-footer{
	heignt: 100px;
	color: #FFF;
	background: #222;
}

.base {
	padding-top: 20px;
	color: #FFF;
	text-align: center;
	font-size: 24px;
}
