.container {
    width: 740px;
    margin: auto;
}

.main-header {
	height: 110px;
    color: #FFF;
    background: #3C3C74;

}

.main-container{
	float: right;
	width: ;
	padding: 20px;
	background:#FFF;
}

.main-footer{
	heignt: 100px;
	color: #FFF;
	background: #222;
}

.base {
	padding-top: 20px;
	color: #FFF;
	text-align: center;
	font-size: 50px;
}

.back {
	background: ##1A1A4C;
}
 .image {

 }





